#!/usr/bin/make -f

PG_CFG83 = /usr/lib/postgresql/8.3/bin/pg_config
PG_CFG84 = /usr/lib/postgresql/8.4/bin/pg_config

CFLAGS83 = $(shell $(PG_CFG83) --cflags)
CFLAGS84 = $(shell $(PG_CFG84) --cflags)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS83 += -O0
	CFLAGS84 += -O0
else
	CFLAGS83 += -O2
	CFLAGS84 += -O2
endif

SRCDIR = $(CURDIR)
TGT83  = $(CURDIR)/debian/prefix-8.3
TGT84  = $(CURDIR)/debian/prefix-8.4

build:

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean PG_CONFIG="$(PG_CFG83)"
	$(MAKE) clean PG_CONFIG="$(PG_CFG84)"
	rm -rf $(TGT83) $(TGT84)
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	mkdir -p $(TGT83) $(TGT84)

	cd $(TGT83) && $(MAKE) -f $(SRCDIR)/Makefile CFLAGS="$(CFLAGS)" PG_CONFIG="$(PG_CFG83)" VPATH="$(SRCDIR)"
	dh_install -ppostgresql-8.3-prefix

	cd $(TGT84) && $(MAKE) -f $(SRCDIR)/Makefile CFLAGS="$(CFLAGS)" PG_CONFIG="$(PG_CFG84)" VPATH="$(SRCDIR)"
	dh_install -ppostgresql-8.4-prefix

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
