#!/usr/bin/make -f

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

SRCDIR = $(CURDIR)
TARGET = $(CURDIR)/debian/prefix-%v

build:

clean:
	dh_testdir
	dh_testroot
	pg_buildext clean $(SRCDIR) $(TARGET) 8.3 "$(CFLAGS)"
	pg_buildext clean $(SRCDIR) $(TARGET) 8.4 "$(CFLAGS)"
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep 
	dh_installdirs

	pg_buildext build $(SRCDIR) $(TARGET) 8.3 "$(CFLAGS)" && \
	dh_install -ppostgresql-8.3-prefix || echo "skipping 8.3"

	pg_buildext build $(SRCDIR) $(TARGET) 8.4 "$(CFLAGS)" && \
	dh_install -ppostgresql-8.4-prefix || echo "skipping 8.4"

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
